body {
    font-family: Arial, Helvetica, sans-serif;
}

fieldset {
    background-color: rgb(11, 21, 208);
}

legend {
    background-color: rgb(10, 132, 239);
    color: white;
    padding: 20p;
}

.form-row input:not([type="submit"]) {
    padding: 5px;
    border-radius: 5px;
    background-color: #999;
}

.form-row input :not([type="submit"]):focus {
    background-color: blue;
}

.form-row input[type="submit"] {
    padding: 10px;
    background-color: rgb(12, 12, 144);
    color: white;
    font-size: 24px;
}

.form-row {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.radio-row {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

/*Note: Form-row and radio-row can be written together*/

.form-row label{
    width: 150px;
    text-align: right;
}

.form-spacer {
    width: 150px;
    text-align: right;
}

@media ONLY screen and (max-width: 600px) {
    .form-row, .radio-row {
        flex-direction: column;
    }

    .form-row label {
        text-align: left;
    }

    .form-spacer {
        text-align: left;
    }
}