body 
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

header 
{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: blue;
    background-image: url(headbackground.jpg);
}

header h1 
{ 
    display: block;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0;
    padding-bottom: 15px;
    color: rgb(224, 220, 14);
}

.wrapper
{
    display: grid;
    grid-template-columns: 20fr 80fr ;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-areas: 
        "aside1  main1 aside2";
}

button
{
    font-size: 20px; 
    background-color: grey;
    color: white;
    border-radius: 25px;
}

script
{
    color: white;
}

aside 
{ font: bolder;}

figure
{
    display: flex;
    justify-content: flex-start;

}

.left
{
    display: block;
    grid-area: "aside1";
}

    .pic
    {
        border: thin solid black;
        box-shadow: grey 20px 20px 20px;
    }

aside h2   
{
    display: flex;
    justify-content: center;
    color: white;
}

    .lcap
    {
        display: flex;
        justify-content: center;
        color: white;
    }

    .list
    {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: blue;
    }

main 
    {   
        font-family: Georgia, 'Times New Roman', Times, serif;
        display: block;
        /*justify-content: center;
        flex-flow: wrap column;*/
    } 

main h2
{
    display: flex;
    justify-content: center;
    color: white;
}

.fix
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pix1
{
    width: 300px;
    height: 370px;
    border: thin solid black;
    align-items: cover;
}

.pix2
{
    width: 300px;
    height: 320px;
    border: thin solid black;
    align-items: cover;
}

.pix3
{
    width: 300px;
    height: 390px;
    border: thin solid black;
    align-items: cover;
}

article
{
    border: thin solid black;
    box-shadow: grey 20px 20px 20px;
    background-image: url(article.jpg);
    width: 300px;

}

.arts
{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-flow: wrap row;
    column-gap: 10px;
    row-gap: 10px;
}

article h3
{
    display: flex;
    justify-content: center;
    color: rgb(224, 220, 14);
}

article p
{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

footer
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}


@media ONLY screen AND (max-width: 900px)
    {
        .row{
            flex-direction: column;
            align-items: cover;
        }
    }

@media ONLY screen AND (max-width: 600px)
    {
        header{ background-color: black;}
        nav{ flex-direction: column;}
        nav a{ border-bottom: thin solid white;}
        .card{ margin-bottom: 20px;
                width: 90%}
        .feature{ order: -1;}
    }