body
    {
        font-family: Arial, Helvetica, sans-serif;
        background-color: whitesmoke;
    }

#wrapper
    {
        color:black;
    }

header
    {
        font-family:'Times New Roman', Times, serif;
        font-size: large;
        color: gold;
        font-weight: 400;
        font-style: inherit;

        /*line-height: 0cap;*/
        text-align: center;
        text-transform: capitalize;
        text-shadow: 0cqmax;

        /*background-color: grey;*/
        background-image: url('sunset.jpg');
        
        width: 100%;
        height: 10vh;
        
        background-repeat: repeat;
        background-size: top;

        margin-left: auto;
        margin-right: auto;

        padding: 50px 50px 50px 50px;
    }

header h1
    {
        border: 3px solid gold;
    }

nav
    {
        background-color: aqua;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

main
    {
        font-family: Arial, Helvetica, sans-serif;
    }

figure
    {
        border: thick solid gold;
        width: 624px;
    }

figure caption
    {
        color: black; 
    }

.img
    {
        size: 50rem;
        height: 100vh;
    }

footer
    {
        font-family: Arial, Helvetica, sans-serif;
    }