body
    {
        font-family: Arial, Helvetica, sans-serif;
        color: white;

        width: 100%;
        height: 100vh;
        background-image:url(bgimage.jpg);
        background-repeat: repeat;
        background-size: cover;

        background-position: right;

        /*use downloaded clip art
        resize images to fit background*/
    }

header
    {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: white;

        background-image: url(photo.jpg);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 15rem;
    }

nav a
    {
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(5, 5, 107);
    }

.current
    {
        color: blue;
    }

main p 
    {
        color: black;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

p 
    {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }

h1 
    {
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

h2 
    {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }

h3 
    {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }

h4 
    {
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

h5 
    {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }

h6 
    {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }

.hp 
    {
        
        width: 100%;
        height: 20vh;
        display: flex;

        font-size: 3rem;

        -webkit-back-ground-clip: text;
        -webkit-text-stroke: 4px transparent;
    }

.pg1 
    {
        
        width: 100%;
        height: 20vh;
        display: flex;

        font-size: 3rem;

        -webkit-back-ground-clip: text;
        -webkit-text-stroke: 4px transparent;
    }

.pic1
    {
        position: left;
        
        height: 500px;
        size: 4rem;
    }

.pg2 
    {
        
        width: 100%;
        height: 20vh;
        display: flex;

        font-size: 3rem;

        -webkit-back-ground-clip: text;
        -webkit-text-stroke: 4px transparent;
    }

.pic2a
    {
        position: left;
        
        height: 500px;
        size: 4rem;
    }

.pic2b
    {
        position: left;
        
        height: 500px;
        size: 4rem;
    }

.pg3 
    {
       
        width: 100%;
        height: 20vh;
        display: flex;

        font-size: 3rem;

        -webkit-back-ground-clip: text;
        -webkit-text-stroke: 4px transparent;
    }

.pic3a
    {
        
        position: left;
        
        height: 500px;
        size: 4rem;
    }

.pic3b
    {
        
        position: left;
        
        height: 500px;
        size: 4rem;
    }

.pg4 
    {
        
        width: 100%;
        height: 20vh;
        display: flex;

        font-size: 3rem;

        -webkit-back-ground-clip: text;
        -webkit-text-stroke: 4px transparent;
    }

.pic4
    {
        position: left;
        
        height: 500px;
        size: 4rem;
    }

.pg5  
    {
        
        width: 100%;
        height: 20vh;
        display: flex;

        font-size: 3rem;

        -webkit-back-ground-clip: text;
        -webkit-text-stroke: 4px transparent;
    }

.pic5
    {
        position: left;
        
        height: 500px;
        size: 4rem; 
    }

.welcome 
    {
        color: maroon;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 1000;
    }

footer 
    {
        color: blue;
    }

li::marker
    {
        color: maroon;
    }

ul
    {
        list-style-type: square;
    }