body
    {
        font-family: Arial, Helvetica, sans-serif;
    }

header
    {
        background-color: rgb(5, 13, 250);
        height: 80px;
        padding-top: 10px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

header h1
    {
        display: flex;
        justify-content: center;
        color: black;

    }

nav
    {
        display: flex;
        justify-content: space-evenly;
        color: white;
        text-decoration: none;
    }

nav a
    {
        display: block;
        padding: 10px;
        padding-right: 60px;
        padding-left: 60px;

        background-color: gold;
        color: blue;
        text-decoration: none;
    }

nav a:hover
    {
        text-decoration: underline;
        color: rgb(62, 62, 139);
        background-color: white;
    }

.parent
    {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

main
    {
        display: block;
        
    }

main h1
    {
        display: flex;
        justify-content: center;
        background-color: blue;
        margin-top: 0;
        padding-bottom: 5px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

.card
    {
        border: thin solid blue;
        box-shadow: 8px 8px 8px rgba(40, 40, 40, 0.5);
        width: 250px;
    }

.card figure
    {
        margin: 0;
    }

.card img
    {
        width: 100%;
    }

.para
    {
        color: blue;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

@media ONLY screen AND (max-width: 900px)
    {
        .row{ 
            flex-direction: column;
            align-items: cover;}
    }
        
    
@media ONLY screen AND (max-width: 600px)
    {
        header{ background-color: black;}
        nav{    flex-direction: column;}
        nav a{  border-bottom: thin solid white;}
        .card{ margin-bottom: 20px;
                width: 90%}
        .feature{ order:-1;}
    }